* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Nav Bar styling */
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    /* background: crimson; */
    font-family: "Ubuntu", sans-serif;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: crimson;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight:500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: crimson;
}
/* Home Section Styling */

.home{
    display: flex;
    background: url('https://www.rei.com/dam/van_dragt_042618_0202_landscape_photo_tips2.jpg') no-repeat center;
    height: 100vh;
    background-size: cover;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;

}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}