@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  .thing {
      background-color: red;
      width: 300px;
      height: 300px;
      transition: all 1s ease;
 
  }

  .shake {
    animation: shake .6s infinite;
  }

  .active {
    background-color: green;
  }

  .small {
      width: 100px;
      height: 100px;
  }

  .big {
      width: 600px;
      height: 600px;
  }


  .box {
      background-color: green;
      height:40px;
      width: 40px;
      border: 1px solid white;
      display: inline-block;
  }

  .wall {
    background-color: black;
    height:40px;
    width: 40px;
    border: 1px solid white;
    display: inline-block;
}

.player {
    background-color: red;
    height:40px;
    width: 40px;
    border: 1px solid white;
    display: inline-block;
}